
<div class="col-xs-1">
    <div class="btn-group-vertical" role="group" aria-label="...">
        <label ui-sref='admin.users' class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Users'">User</label>
        <label ui-sref='admin.tutorials' class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Tutorials'">Tutorial</label>
        <label ui-sref='admin.categories' class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Categories'">Categories</label>
    </div>
</div>
<div class="col-xs-11">
    <ui-view></ui-view>
</div>
