<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <h3>Steps Squared</h3>
        </div>
        <ul class="nav navbar-nav pull-right">

            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            
            <li>
                <a ng-show="user.isAdmin" ui-sref="admin">Admin</a>
            </li>

            <li>
                <div ng-show="user" class="welcome">
                    <span>{{ user.display_name }}!</span>
                    <a ng-click="logout()">Logout</a>
                </div>
                <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            </li>

        </ul>

        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only">Search</label>
            <input ng-model="searchTerm" type="text" class="form-control" placeholder="Search term">
          </div>
          <button ui-sref="allTutorials({searchquery:searchTerm })" type="submit" class="btn btn-default">Search</button>
        </form>


    </div>
</nav>