.tutorial-tile-container{
	width: 80%;
	margin:auto;
	.tutorial-tile{
		height:200px;
		color:white;
		@include heart-icon-mixin(25px);
		heart{
			float:right;
			margin-right:10px;
			margin-top: 10px;
		}
		.tutorial-info{
			padding:40px 20px;
			background-color:$backgroundTopLeft;
			opacity: .6;
			.tutorial-description{
				font-size:20px;
				font-weight:300;
				font-family: 'Roboto Condensed','Helvetica', sans-serif;
			}
			.view-tutorial-button{
				background-color:$yellow;
				border:none;
				margin-top:10px;
				width:140px;
				height:30px;
				a{				
					text-transform: uppercase;
					font-weight:500;
					font-size:13px;
					color:white;
					font-family: 'Roboto', 'Helvetica', sans-serif;
				}
			}
		}
	}
	.tutorial-title{
		h4{
			font-weight:900;
			font-size:20px;
			color:black;
			font-family: 'Roboto', 'Helvetica', sans-serif;
			text-transform: uppercase;	
		}
	}
	margin-bottom:30px;

	
}