$backgroundTopLeft: #199fa2;
$backgroundBottomRight: #b9d5d7;

* {
  box-sizing: border-box;
}

body {
  // background: #fdfdfd;
  background: -webkit-linear-gradient(left top, $backgroundTopLeft, $backgroundBottomRight);
  padding-bottom: 110px; 
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}





@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'admin/main';