<ui-view></ui-view>
<div>
    <h1>{{tutorial.name}} Tutorial</h1>   

    <img ng-src="{{tutorial.media.url}}" style = "width: 400px">
    <h3>Created By: {{tutorial.author.display_name}}</h3>
    
    <h3>Category: {{tutorial.category.name}}</h3>
    <h3>Description:{{tutorial.description}}</h3>
    <p>Favorites: {{tutorial.favorites}}</p>
    <h3>Equipment: 
        <div ng-repeat="equip in tutorial.equipment">{{equip}}</div>
    </h3>

    <h3>Steps: 
         <div ng-repeat = "(idx, step) in tutorial.steps">
        <!-- {{step}} -->
        <a ui-sref = "viewStep({stepId: step._id, tutorialId: tutorial._id, tutorial: tutorial})">{{idx + 1}}:{{step.name}}</a>
    </div>
   
    </h3>

    <h3 ng-if="tutorial.category.name == 'Recipes'"> Servings: {{tutorial.quantity}}</h3>
    <div>
        <table>
            <tr>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Item</th>
            </tr>

            <tr ng-repeat="requirement in tutorial.requirements">
                <th>{{requirement.quantity}}</th>
                <th>{{requirement.unit}}</th>
                <th>{{requirement.item}}</th>
            </tr>
        </table>
    </div>

    <div ng-repeat = "(idx, step) in tutorial.steps">
        <a ui-sref = "viewStep({stepId: step._id, tutorialId: tutorial._id, tutorial: tutorial})">{{idx + 1}}:{{step.name}}</a>
    </div>

    <div ng-if = "!alreadyReviewed()">
        <label>Rating</label>
        <input type = "number" ng-model="review.rating"></input>
        <button class = "btn btn-default" ng-click = "addReview()">Add Review</button>
    </div>
    
    <h3>Reviews</h3>
    <div ng-repeat = "review in tutorial.reviews">
        <p>User: {{review.user.display_name}}</p>
        <p>Rating: {{review.rating}}</p>
    </div>
   



</div>


